# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

programming-from-ground-up/bin
programming-from-ground-up/lib

introduction-to-algorithms/bin
introduction-to-algorithms/lib

